* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #292F36;
    padding: 42px;
    height: 700px;
}
nav {
    color: white;
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-right: 100px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.29);
}

.input {
    border-radius: 10px;
}


.ref {
    color: rgb(255, 255, 255);
    text-decoration: none;

    
}

.logo {
    display: flex;
    justify-content: start;
    color: #12F7D6
}

.hero {
    display: flex;

}

.h1_hero {
    display: flex;
    background-color: #292F36;
    justify-content: center;
    align-self: baseline;
    justify-content: center;
    margin-top: 25px;
    font-size: 40px
}

.card_hero {
    width: 200px;
    height: 300px;
    background-color: #292F36;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    border: 1px solid #12F7D6;
    display: flex;
    justify-content: center;


}
.who {
    color: white;
    display: flex;


}

.About_me {
    color: white;
    max-width: 400px;
    font-size: 13px;
}